/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4eded;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a11db;
    color: #fff;
    padding: 1rem;
}

.header-logo img {
    max-height: 60px;
}

.header-title {
    text-align: center;
    flex-grow: 1;
}

.header-title h1 {
    font-size: 1.5rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


nav {
    text-align: center;
    background-color: #283593;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin: 0.5rem;
    background-color: #ff4081;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ec407a;
}

/* Page title */
.page-title {
    text-align: center;
    margin: 2rem 0;
    color: #333;
}

/* Stadium card styles */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.column {
    flex-basis: 30%;
    padding: 0 10px;
    background-color: #f9f9f9;
}

.stadium-card {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.stadium-card:hover {
    transform: translateY(-5px);
}

.stadium-card h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #4a11db;
}

.stadium-card p {
    color: #666;
}

/* Image styles */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}
